<footer class="footer">
  <a href="#" class="icon go-top"></a>
  <div class="footer-content flex-content">
    <div class="footer-navegation flex-item">
      <div class="footer-navegation-content">
        <a class="footer-navegation-item" href="/sobre">Sobre</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a class="footer-navegation-item" href="/imprensa">Imprensa</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a class="footer-navegation-item" href="/imprensa#bettina_contato">Contato</a>
        <span class="footer-navegation-item-divisor">•</span>
        <br>
        <a class="footer-navegation-item" href="/blog">Blog</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a class="footer-navegation-item" href="">Ficção</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a class="footer-navegation-item" href="/literatura-infantil">Literatura Infantil</a>
      </div>
    </div>
    <div class="footer-copy flex-item">
      <div class="logo-white"></div>
      <div>
        {{ site.time | date: "%Y" }} Bettina Stingelin. All rights reserved
      </div>
    </div>
    <div class="footer-newsletter flex-item">
      Assine a lista vip de Bettina sobre literatura
      <br>
      </p>
        <input type="text" placeholder="Seu e-mail" class="footer-input" />
        <input type="submit" class="btn btn-footer-input" value="Enviar" />
      </p>
    </div>
  </div>
</footer>
