<footer class="footer">
  <div class="footer-content flex-content">
    <div class="footer-navegation flex-item">
      <a href="" class="footer-navegation-item">Sobre</a>
      <a href="" class="footer-navegation-item">Livros</a>
      <a href="" class="footer-navegation-item">Imprensa</a>
      <a href="" class="footer-navegation-item">Contato</a>
      <a href="" class="footer-navegation-item">Stingelin Ficção</a>
      <a href="" class="footer-navegation-item">Stingelin Infantil</a>
    </div>
    <div class="footer-copy flex-item">
      <div class="logo-white"></div>
      <p>
        2016 Bettina Stingelin. All rights reserved
      </p>
    </div>
    <div class="footer-newsletter flex-item">
      <p>
        Assine a lista vip de Bettina sobre literatura
      </p>
      </p>
        <input type="text" />
        <input type="submit" class="btn" />
      </p>
    </div>
  </div>
</footer>
