<footer class="footer">
  <div class="footer-content flex-content">
    <div class="footer-navegation flex-item">
      <div class="footer-navegation-content">
        <a href="" class="footer-navegation-item">Sobre</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a href="" class="footer-navegation-item">Imprensa</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a href="" class="footer-navegation-item">Contato</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a href="" class="footer-navegation-item">Stingelin Ficção</a>
        <span class="footer-navegation-item-divisor">•</span>
        <a href="" class="footer-navegation-item">Stingelin Infantil</a>
      </div>
    </div>
    <div class="footer-copy flex-item">
      <div class="logo-white"></div>
      <div>
        {{ site.time | date: "%Y" }} Bettina Stingelin. All rights reserved
      </div>
    </div>
    <div class="footer-newsletter flex-item">
      Assine a lista vip de Bettina sobre literatura
      <br>
      </p>
        <input type="text" placeholder="Seu e-mail" class="footer-input" />
        <input type="submit" class="btn btn-footer-input" value="Enviar" />
      </p>
    </div>
  </div>
</footer>
