<header class="site-header header-pages" role="banner">
  <div class="header-pages-content">
    <div class="header-navegation">
      <div class="header-navegation navegation-landing">
        <a href="{{site.baseurl}}/" class="header-logo logo"></a>
        <div class="navegation-link-content">
          <a class="navegation-link" href="{{site.baseurl}}/sobre">Sobre</a>
          <a class="navegation-link" href="#">Ficção</a>
          <a class="navegation-link" href="{{site.baseurl}}/literatura-infantil">Literatura Infantil</a>
          <a class="navegation-link" href="{{site.baseurl}}/blog">Blog</a>
          <a class="btn btn-white btn-white-landing" href="#">Comprar</a>
        </div>
      </div>
      <div class="header-pages-title">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</header>
