a {
  color: #1006FF;
}

.btn {
  background: #1006FF;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
		 -moz-transition: all 0.5s ease;
					transition: all 0.5s ease;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}
.btn:hover {
  background: #fff;
  color: #1006FF;
}
input {
  padding: 10.5px;
  border: 0;
}
input.footer-input {
  border: 0;
  width: 41%;
  -webkit-border-radius: 50px 0 50px 0;
     -moz-border-radius: 50px 0 0 50px;
          border-radius: 50px 0 0 50px;
}
.btn-footer-input {
  margin-left: -5px;
  padding: 10.5px 20px;
  vertical-align: bottom;
  -webkit-border-radius: 0 50px 50px 0;
     -moz-border-radius: 0 50px 50px 0;
          border-radius: 0 50px 50px 0;
}
