.bg-landing-top {
  background: url("{{site.baseurl}}/img/bg_landing_top.jpg") no-repeat;
  width: 100%;
  height: 80%;
  background-size: cover;
}
.logo-white-landing {
  margin-top: 30px;
}
.header-content {
  margin-top: 100px;
}
.header-title {
  color: #fff;
  font-size: 80px;
}
.header-sub-title {
  color: #fff;
  max-width: 650px;
  font-size: 18px;
  line-height: 28px;
}
.landing-about {
  background: url("{{site.baseurl}}/img/landing_bet_middle.png") no-repeat;
  width: 100%;
  height: 700px;
  display: table;
  background-size: cover;
}
.landing-about-content {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
}
.landing-about-description {
  width: 400px;
  padding: 0 10%;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
.midia-landing {
  padding: 0 0 180px 0;
}
.midia-press,
.midia-bookstores {
  display: inline-block;
  width: 45%;
}
