/* Typography */

::-moz-selection{
  color:#fff;
  background: #1006FF;
}
::selection {
  color:#fff;
  background: #1006FF;
}

/* #headline */
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin: 10px 0;
}
h2 {
  font-size: 36px;
}
h2.book-title {
  margin-top: 0;
}
.serif-font,
.wrapper p {
  font-size: 17.2px;
  line-height: 32px;
  font-family: 'Braskervile', serif;
}
