{% include head.html %}
  <body>
    <header class="site-header bg-landing-top" role="banner">
      <header class="header">
        <div class="header-navegation navegation-landing">
          <div class="header-logo logo-white logo-white-landing"></div>
          <div class="navegation-link-content">
            <a class="navegation-link" href="#">Sobre</a>
            <a class="navegation-link" href="#">Livros</a>
            <a class="navegation-link" href="#">Ficção</a>
            <a class="navegation-link" href="#">Infantil</a>
            <a class="navegation-link" href="#">Blog</a>
            <a class="btn btn-white btn-white-landing" href="#">Comprar</a>
          </div>
        </div>
        <div class="header-content">
          <h1>
            Bettina Stingelin
          </h1>
          <p>
            Em seu íntimo sabia que um dia estaria a correr livremente por um lugar só seu, em que poderia ser só ela, mas não ela só - concluíra que a solidão não é um estado físico, mas sim de espírito. Na sua imaginação fértil de menina, seria como calçar finalmente os sapatos certos, depois de anos de calos e dores lancinantes nas solas dos pés. Então ela desfez as amarras, levantou âncora e içou as velas
          </p>
        </div>
      </header>
    </header>
    <section>
      <div class="wrapper">
        {{ content }} Conteúdo
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
